@page "{medicare}"
@model C19VS.Pages.Person.EditModel
@{
}

<h1>Editing: @Model.Person.firstName @Model.Person.lastName</h1>

<form method="post" class="mt-3">
    <input hidden asp-for="Person.medicare" />

    <div class="form-group row">
        <label asp-for="Person.medicare">medicare Number</label>
        <div class="col-sm-10">
            <input asp-for="Person.medicare" placeholder="@Model.Person.medicare" />
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Person.firstName">First Name</label>
        <div class="col-sm-10">
            <input asp-for="Person.firstName" placeholder="@Model.Person.firstName" />
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Person.lastName">Last Name</label>
        <div class="col-sm-10">
            <input asp-for="Person.lastName" placeholder="@Model.Person.lastName" />
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Person.dob">Date of Birth</label>
        <div class="col-sm-10">
            <input asp-for="Person.dob" placeholder="@Model.Person.dob.ToString()" />
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Person.telephone">telephone</label>
        <div class="col-sm-10">
            <input asp-for="Person.telephone" placeholder="@Model.Person.telephone" />
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Person.address">address</label>
        <div class="col-sm-10">
            <input asp-for="Person.address" placeholder="@Model.Person.address" />
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Person.city">city</label>
        <div class="col-sm-10">
            <input asp-for="Person.city" placeholder="@Model.Person.city" />
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Person.province">province</label>
        <div class="col-sm-10">
            <input asp-for="Person.province" placeholder="@Model.Person.province" />
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Person.postalCode">Postal Code</label>
        <div class="col-sm-10">
            <input asp-for="Person.postalCode" placeholder="@Model.Person.postalCode" />
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Person.citizenship">citizenship</label>
        <div class="col-sm-10">
            <input asp-for="Person.citizenship" placeholder="@Model.Person.citizenship" />
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Person.email">email</label>
        <div class="col-sm-10">
            <input asp-for="Person.email" placeholder="@Model.Person.email" />
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Person.infected">infected</label>
        <div class="col-sm-10">
            <input asp-for="Person.infected" placeholder="@Model.Person.infected" />
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Person.ageGroup">ageGroup</label>
        <div class="col-sm-10">
            <input asp-for="Person.ageGroup" placeholder="@Model.Person.ageGroup" />
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Person.SSN">SSN</label>
        <div class="col-sm-10">
            <input asp-for="Person.SSN" placeholder="@Model.Person.SSN" />
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Save</button>
            <a asp-page="/Person/PersonIndex" class="btn btn-primary">Cancel</a>
        </div>
    </div>
</form>

